{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}
<script src="{% static 'js/home_jq.js' %}" type="text/javascript"></script>
{%endblock%}

{%block content%}
<div class="container">
    <div class="container search-table">
        <div class="search-box">
            <div class="row">
                <div class="col-md-3">
                    <h5>Search All Fields</h5>
                </div>
                <div class="col-md-9">
                    <input type="text" id="myInput" class="form-control" placeholder="first_name or last_name"/>
                </div>
            </div>
        </div>
        <div class="search-list" id="usrTable">
        </div>
    </div>
</div>
{%endblock%}