/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  float: left;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0 0; /* 15% from the top and centered */
  padding: 5px 0;
  width: 100%; /* Could be more or less, depending on screen size */
  height: 65%;
  border:initial;
  border-radius:0;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 0;
  background-color: #5cb85c;
  color: white;
  width: 100%; /* Could be more or less, depending on screen size */

}

.mvmnt {
    position: relative;
    top: 3%;
    left: 75%;
    width:245px;
}

body{
font-family: monospace;
background-color: aliceblue;
}