.container {
    max-width:1170px;
    margin:auto;
}

img {
    max-width:100%;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 32%;
  border-right:3px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
  height: 570px;
}
.top_spac{ margin: 20px 0 0;}


.srch_bar {
  #display: inline-block;
 #text-align: right;
  width: 100%;
}
.headind_srch {
    padding:10px 20px;
    overflow:hidden;
    border-bottom:1px solid #c4c4c4;
    background-color: aliceblue;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input {
    width:80%;
    padding:2px 0 4px 6px;
    background:none;
    border-radius:8px;
    background-color:bisque;
}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat{
    height: 550px;
    overflow-y: auto;
    background-color: aliceblue;
}

.active_chat{ background:#25738F;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: auto;
  max-width:100%;
  display:inline-block;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 10px;
  margin: 2px 0 0;
}
.received_withd_msg { width: auto;}
.mesgs {
  float: left;
  width: 68%;
}

.sent_msg span {
  float:right;
}
 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:10px 0 10px;}
.sent_msg {
  float: right;
  width: auto;
  max-width: 96%;
  margin-right:5px;
}
.input_msg_write textarea {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 14px;
  min-height: 48px;
  width: 94%;
  margin-left:15px;
  overflow:hidden;
  resize:none;
}

.type_msg {
    border: 2px solid #c4c4c4;
    position: relative;
    bottom: 5px;
    background-color: #ebebeb;
    visibility: hidden;
    border-radius:10px
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 1%;
  top: 11%;
  width: 33px;
}

.msg_history {
  height: 522px;
  padding: 3px 0 0 4px;
  overflow-y: auto;
}
.hr_class {
    border-top-width: 3px;
    margin-top: 6px;
    margin-bottom: 0px;
    border-top-style: ridge;
    border-top-color: initial;
}

button.tablinks {
    margin: 5px 25px -1px 25px
}
.messaging{
    border:inset;
    border-radius: 5px;
    margin-bottom: -1px;
}

.tab button.active {
    background: #05728F;
    border-radius:10px;
}

.incoming_msg {
margin:10px 0 10px;
}

textarea::placeholder {
    color: red;
    position: relative;
    left: 10px;
    top: 10px;
}

.tab{
background-color:aliceblue;
}

.tab button {
    overflow: visible;
    background-color: aliceblue;
    border: none;
}

#normal_count {
    position: relative;
    bottom: 30px;
    left:8px;
}

.alert {
    padding: 15px;
    margin-bottom: 1px;
    border: 1px solid transparent;
    border-radius: 4px;
}
button#id_notification1 {
    padding: 0px;
    width: 35px;
    height: 30px;
}

button:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.write_msg:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

@media screen and (max-width: 360px) {
  .container {
    max-width:100%;
    margin: 0px;
    padding:0px;
  }
  .chat_list {
    margin: 0px;
    padding: 0px;
}
}

.online_icon{
		position: absolute;
		height: 15px;
		width:15px;
		background-color: #4cd137;
		border-radius: 50%;
		border:1.5px solid white;
	}
.offline{
    background-color: #c23616 !important;
    }