{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="{% static 'js/home_jq.js' %}" type="text/javascript"></script>

{%endblock%}

{%block content%}
<br>
<div class="container">
    <h3><b>Notifications</b></h3>
    <hr>
    {% for notice in notifications %}
    {% include 'notifications/notice.html' %}
    {% endfor %}
</div>
{%endblock%}
