<!--<div class="alert alert-block alert-{{ notice.level }}">-->
<!--<a class="close pull-right" href="{% url 'notifications:mark_as_read' notice.slug %}">-->
<!--<i class="icon-close"></i>-->
<!--</a>-->


<div class="alert alert-info" data-notid="{{notice.id}}" data-usrreq="{{notice.actor.id}}">
    <strong>{{ notice.actor.first_name }} {{ notice.actor.last_name }}</strong> wants to be friend with you.

    <a href="{% url 'notifications:mark_as_read' notice.slug %}" class="btn btn-primary pull-right cnlreq" style="position: relative;bottom: 8px;margin-right: 6px;padding:5px 8px">Delete</a>
    <a href="{% url 'notifications:mark_as_read' notice.slug %}" class="btn btn-primary pull-right resreq" style="position: relative;bottom: 8px;margin-right: 6px;padding:5px 8px">Accept</a>
    <!--<a href="#" class="btn btn-xs btn-primary pull-right">{{ action.title }}</a>-->
</div>
<!--<i class="icon-mail{% if notice.unread %}-alt{% endif %}"></i>-->
<!--{{ notice.actor }} wants to friend with you.-->
<!--{{ notice.verb }}-->
<!--{% if notice.target %}-->
<!--of {{ notice.target }}-->
<!--{% endif %}-->
<!--<p>{{ notice.timesince }} ago</p>-->

<!--<p>{{ notice.description|linebreaksbr }}</p>-->
<!--<div class="notice-actions">-->
<!--{% for action in notice.data.actions %}-->
<!--<a class="btn" href="{{ action.href }}">{{ action.title }}</a>-->
<!--{% endfor %}-->
<!--</div>-->
<!--</div>-->
