<!DOCTYPE html>
{% load notifications_tags %}
{% load static from staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{% static 'css/base.css' %}" type="text/css" rel="stylesheet" media="all">
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    <!--{% register_notify_callbacks refresh_period='2' callbacks='fill_notification_badge' %}-->
    <title>D-Messenger</title>
    {% block head %}
    {%endblock%}
</head>
<body>
<nav class="navbar navbar-inverse" id="myDIV" style="margin-bottom: -1px;">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="padding-bottom: 15px;padding-top: 17px;">{{user.first_name}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="nvbar"><a href="/home" style="bottom: 4px;"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
            <!--<li class="nvbar"><a href="/chat/search/">Contacts</a></li>-->
            <!--<li class="nvbar"><a href="/chat/gr/groupchat">GroupChat</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!--<li id="id_notification" class="normal_count_link nvbar">-->
                <!--<a href="{% url 'notifications:all' %}" class="">-->
                    <!--<i class="fa fa-bell " aria-hidden="true"></i>Notifications-->
                    <!--<span class="badge" style="margin-right:15px; margin-left:10px; float: none !important;background-color: #00bca4" id="normal_count">{% live_notify_badge %}-->
                <!--</span>-->
                <!--</a>-->
            <!--</li>-->
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
        </ul>
    </div>
</nav>
<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="mvmnt">
        <div class="modal-header">
            <span class="close">&times;</span>
            <p style="margin-bottom: 0px;">sender_username</p>
        </div>
        <!-- Modal content -->
        <div class="modal-content">
            <p style="margin-bottom: 0px;">Some_text</p>
        </div>
    </div>
</div>
<input type="hidden" name="requestuser" value="{{user.id}}">
<input type="hidden" name="requestfname" value="{{user.first_name}}">
<input type="hidden" name="requestlname" value="{{user.last_name}}">
{%block content%}
{% endblock%}
</body>
<script src="{% static 'js/pop_modal.js' %}" type="text/javascript"></script>
</html>