<!DOCTYPE html>
{% load static from staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D-Messenger</title>
    {% block head %}
    {%endblock%}
</head>
<body>


{%block content%}


{% endblock%}

</body>
</html>