{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<link href="{% static 'css/home.css' %}" type="text/css" rel="stylesheet" media="all">
<script src="{% static 'js/home_jq.js' %}" type="text/javascript"></script>
<script src="{% static 'js/home_js_func.js' %}" type="text/javascript"></script>
{%endblock%}

{%block content%}
<div>
    <div class="container">
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">

                        <div class="srch_bar">
                            <div class="stylish-input-group">
                                <input type="text" id="seInput" class="search-bar" placeholder="Search"/>
                                <span hidden="true" id="clbtn">
                                    <button type="button">
                                        <i class="fa fa-close" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <button class="tablinks active" data-ref_id="chat_data_id"><i class="fa fa-commenting fa-2x" aria-hidden="true"></i></button>
                        <button class="tablinks" data-ref_id="my_id"><i class="fa fa-address-book-o fa-2x" aria-hidden="true"></i></button>


                        <button id="id_notification1" class="tablinks normal_count_link nvbar" data-ref_id="cl_noti_id">
                            <i class="fa fa-bell-o fa-2x" aria-hidden="true"></i>
                            <span class="badge" id="normal_count">
                                    <span class="live_notify_badge">{{ notif_count }}</span>
                            </span>
                        </button>
                        <hr class="hr_class">
                    </div>
                    <div class="inbox_chat tabcontent" id="my_id" style="display:None;">
                        {% for usr in reg_users %}
                        {% csrf_token %}
                        {% if usr.online == "true" %}
                        <div class="chat_list" data-myval="{{usr.friend_user.id}}" online="{{usr.online}}">
                            <div class="chat_people">
                                <div class="chat_img">
                                    <span class="online_icon "></span>
                                    <img src="https://ptetutorials.com/images/user-profile.png" alt="AI">

                                </div>
                                <div class="chat_ib">
                                    <b><h5 style="margin-top: 11px;">{{usr.friend_user.first_name}} {{usr.friend_user.last_name}}<span class="chat_date"></span></h5></b>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="chat_list" data-myval="{{usr.friend_user.id}}" online="{{usr.online}}">
                            <div class="chat_people">
                                <div class="chat_img">
                                    <span class="online_icon offline"></span>
                                    <img src="https://ptetutorials.com/images/user-profile.png" alt="AI">

                                </div>
                                <div class="chat_ib">
                                    <b><h5 style="margin-top: 11px;">{{usr.friend_user.first_name}} {{usr.friend_user.last_name}}<span class="chat_date"></span></h5></b>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor%}
                    </div>

                    <div class="inbox_chat tabcontent" id="chat_data_id">
                        {% for chat_record in chat_records %}
                        {% csrf_token %}
                        {% if chat_record.online == "true" %}
                        {% if chat_record.text_from == user %}
                        <div class="chat_list" data-myval="{{chat_record.text_to.id}}" online="{{chat_record.online}}">
                            <div class="chat_people">
                                <div class="chat_img">
                                    <span class="online_icon"></span>
                                    <img src="https://ptetutorials.com/images/user-profile.png" alt="AI">
                                </div>
                                <div class="chat_ib">
                                    <b><h5 style="margin-top: 11px;">{{chat_record.text_to.first_name}} {{chat_record.text_to.last_name}}<span class="chat_date"></span></h5></b>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="chat_list" data-myval="{{chat_record.text_from.id}}" online="{{chat_record.online}}">
                            <div class="chat_people">
                                <div class="chat_img">
                                    <span class="online_icon"></span>
                                    <img src="https://ptetutorials.com/images/user-profile.png" alt="AI">

                                </div>
                                <div class="chat_ib">
                                    <b><h5 style="margin-top: 11px;">{{chat_record.text_from.first_name}} {{chat_record.text_from.last_name}}<span class="chat_date"></span></h5></b>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% else %}
                        {% if chat_record.text_from == user %}
                        <div class="chat_list" data-myval="{{chat_record.text_to.id}}" online="{{chat_record.online}}">
                            <div class="chat_people">
                                <div class="chat_img">
                                    <span class="online_icon offline"></span>
                                    <img src="https://ptetutorials.com/images/user-profile.png" alt="AI">
                                </div>
                                <div class="chat_ib">
                                    <b><h5 style="margin-top: 11px;">{{chat_record.text_to.first_name}} {{chat_record.text_to.last_name}}<span class="chat_date"></span></h5></b>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="chat_list" data-myval="{{chat_record.text_from.id}}" online="{{chat_record.online}}">
                            <div class="chat_people">
                                <div class="chat_img">
                                    <span class="online_icon offline"></span>
                                    <img src="https://ptetutorials.com/images/user-profile.png" alt="AI">

                                </div>
                                <div class="chat_ib">
                                    <b><h5 style="margin-top: 11px;">{{chat_record.text_from.first_name}} {{chat_record.text_from.last_name}}<span class="chat_date"></span></h5></b>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor%}
                    </div>
                    <div class="inbox_chat tabcontent" id="cl_noti_id" style="display:None;">
                        {% for notice in notifications %}
                        {% if notice.verb == "request" %}
                        <div class="alert alert-info" data-notid="{{notice.id}}" data-usrreq="{{notice.actor_object_id}}" data-verb="{{notice.verb}}">
                            <strong class="ufname">{{notice.first_name}}</strong>
                            <strong class="ulname">{{notice.last_name}}</strong>
                            <a href="#" class="btn btn-primary pull-right cnlreq" style="position: relative;bottom: 0px;margin-right: 6px;padding:0px 5px">&#10006;</a>
                            <a href="#" class="btn btn-primary pull-right resreq" style="position: relative;bottom: 0px;margin-right: 6px;padding:0px 5px">&#10003;</a>
                        </div>
                        {% else %}
                        <div class="alert alert-info" data-notid="{{notice.id}}" data-usrfrom="{{notice.actor_object_id}}" data-verb="{{notice.verb}}">
                            <strong><span>{{notice.data}}</span> message from {{notice.first_name}} {{notice.last_name}}</strong>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="inbox_chat tabcontent" id="search_friend_id" style="display:None;"></div>
                </div>

                <div class="mesgs" style="background-color:#fff;">
                    <div class="msg_history" id="demo1">
                        <div style="margin: 30% 30% 0 30%;">
                        </div>
                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <textarea class="write_msg" placeholder="Type a message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type a message'"></textarea>
                            <button class="msg_send_btn" type="button" value="Send">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/socket_comm.js' %}" type="text/javascript"></script>

{% endblock%}
