{% load static from staticfiles %}
<html>
<head>
    <title>D-Messenger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/login.css' %}" type="text/css" rel="stylesheet" media="all">
</head>
<body>
<div class="myclass" style="margin-top: 8%;">
    <div class="m1">
        <center><h2>Login Form</h2></center>
    </div>
    <div class="m1 main-center">
        <form method="post">
            {% csrf_token %}
            <div class="container ">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                <button type="submit">Login</button>
            </div>
            {% if error %}
            <ul class="form-errors">
                <li>{{ error }}</li>
            </ul>
            {% endif %}
            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="btn btn-primary" onclick="window.location.href='/signup'">Sign Up</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
