{% load static from staticfiles %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/signup.css' %}" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <title>D-Messenger</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="panel-title text-center">
            <h3 class="title">Sign Up</h3>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" action="#">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Username</label>
                    <div class="cols-lg-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user-secret" aria-hidden="true"></i></span>
                            {{form.username}}
                            {% if form.username.help_text %}
                            <small style="color: grey">{{ form.username.help_text }}</small>
                            {% endif %}
                            {% for error in form.username.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">First Name</label>
                    <div class="cols-lg-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            {{form.first_name}}
                        </div>
                        {% if form.first_name.help_text %}
                        <small style="color: grey">{{ form.first_name.help_text }}</small>
                        {% endif %}
                        {% for error in form.first_name.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Last Name</label>
                    <div class="cols-lg-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            {{form.last_name}}
                        </div>
                        {% if form.last_name.help_text %}
                        <small style="color: grey">{{ form.last_name.help_text }}</small>
                        {% endif %}
                        {% for error in form.last_name.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-lg-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            {{form.email}}
                        </div>
                        {% if form.email.help_text %}
                        <small style="color: grey">{{ form.email.help_text }}</small>
                        {% endif %}
                        {% for error in form.email.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-lg-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key " aria-hidden="true"></i></span>
                            {{form.password1}}
                        </div>
                        {% if form.password1.help_text %}
                        <small style="color: grey">{{ form.password1.help_text }}</small>
                        {% endif %}
                        {% for error in form.password1.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                    <div class="cols-lg-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            {{form.password2}}
                        </div>
                        {% if form.password2.help_text %}
                        <small style="color: grey">{{ form.password2.help_text }}</small>
                        {% endif %}
                        {% for error in form.password2.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                </div>
                <div class="form-group ">
                    <button class="btn btn-lg btn-block" onclick="window.location.href='/'"> Login</button>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>